<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aiseminar.platerecognizer">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KIVVI_PRINTER" />
    <uses-permission android:name="android.permission.KIVVI_PINPAD" />
    <uses-permission android:name="android.permission.KIVVI_STORAGE" />
    <uses-permission android:name="android.permission.KIVVI_CARD" />
    <uses-permission android:name="android.permission.KIVVI_EXSCREEN" />
    <uses-permission android:name="android.permission.KIVVI_AUTH" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-permission android:name="android.permission.KIVVI_SERIAL" />
    <uses-permission android:name="android.permission.KIVVI_UPDATE" />
    <uses-permission android:name="android.permission.KIVVI_SCANGUN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon" >
        <activity android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ParkActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".ui.CameraActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.CheckinActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.InformationActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.HandIputActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.TimeSetting"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.LoginActivity"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>


</manifest>
